#Header{
  background-color: #103565;
  text-align: center;
}

#titleHeader{
  color: white;
}

body{

}

#ph3{
  font-weight: 300;
}

#Test {
  font-style: italic;
}

#ButtonPropos {
  text-align: right;
  position: relative;
  right: 40px;
}

#Stages {

}

#Formations{
  background-color: #3F4FBF;
}

#Competences{


}

#centreInteret{
  background-color: #aaaaaa;
}
